
ProfessionalProfile/obj/project.nuget.cache
ProfessionalProfile/obj/project.assets.json
ProfessionalProfile/obj/ProfessionalProfile.csproj.nuget.g.props
ProfessionalProfile/obj/ProfessionalProfile.csproj.nuget.dgspec.json
*.cache
/ProfessionalProfile/obj/Debug/net8.0-windows
/ProfessionalProfile/obj/Debug
ProfessionalProfile/.vs/ProfessionalProfile/DesignTimeBuild/.dtbcache.v2
ProfessionalProfile/obj/project.nuget.cache
ProfessionalProfile/obj/project.assets.json
ProfessionalProfile/obj/ProfessionalProfile.csproj.nuget.g.props
ProfessionalProfile/obj/ProfessionalProfile.csproj.nuget.dgspec.json
ProfessionalProfile/obj/Debug/net8.0-windows/ProfessionalProfile_MarkupCompile.i.lref
ProfessionalProfile/obj/Debug/net8.0-windows/ProfessionalProfile_MarkupCompile.i.cache
ProfessionalProfile/obj/Debug/net8.0-windows/ProfessionalProfile.GeneratedMSBuildEditorConfig.editorconfig
ProfessionalProfile/obj/Debug/net8.0-windows/ProfessionalProfile.csproj.AssemblyReference.cache
ProfessionalProfile/obj/Debug/net8.0-windows/ProfessionalProfile.assets.cache
ProfessionalProfile/obj/Debug/net8.0-windows/ProfessionalProfile.AssemblyInfoInputs.cache
ProfessionalProfile/obj/Debug/net8.0-windows/ProfessionalProfile.AssemblyInfo.cs
ProfessionalProfile/obj/Debug/net8.0-windows/MainWindow.g.i.cs
ProfessionalProfile/obj/Debug/net8.0-windows/App.g.i.cs
ProfessionalProfile/.vs/ProjectEvaluation/professionalprofile.projects.v7.bin
ProfessionalProfile/.vs/ProjectEvaluation/professionalprofile.metadata.v7.bin
ProfessionalProfile/.vs/ProfessionalProfile/v17/DocumentLayout.json
ProfessionalProfile/.vs/ProfessionalProfile/v17/.suo
ProfessionalProfile/.vs/ProfessionalProfile/v17/.futdcache.v2
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/f6992c1e-eace-46bd-a0ad-9a5712c238bf.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/e51082ac-f320-4e5c-820f-ea3b3de33aab.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/da22a9ae-280d-432e-a2e9-5e36e7460c55.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/ccf5ff51-9cfc-4cb6-9e2d-cbebcdef78d5.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/bf5c8fef-378a-4693-9168-8c61b00b0f1d.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/b74e7ae0-696a-4f4b-9801-ac313b71d261.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/b4c2fca2-a0dd-4c17-be91-0ccfa2ba6967.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/9f4a12b9-6dd2-425a-bbe8-e5b40b4947b4.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/82938c36-e60b-4bcf-969e-e2146dd44b56.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/7a0f7165-5896-4281-9e01-cc0a43865110.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/7793f788-98ae-4bd8-baba-d82d5f51e39e.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/4117fbf9-4c8f-4823-8617-1b180018da26.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/1f4f50f1-4500-4e37-804b-087095674c9e.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/070fc78a-b168-40a6-a9d8-60521bceb156.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/0289508f-08de-4785-a0a2-eaa49538a88c.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/DesignTimeBuild/.dtbcache.v2
ProfessionalProfile/.vs/ProfessionalProfile/DesignTimeBuild/.dtbcache.v2
ProfessionalProfile/.vs/ProfessionalProfile/v17/.suo
ProfessionalProfile/.vs/ProfessionalProfile/v17/DocumentLayout.json
ProfessionalProfile/.vs/ProjectEvaluation/professionalprofile.metadata.v7.bin
ProfessionalProfile/.vs/ProjectEvaluation/professionalprofile.projects.v7.bin
ProfessionalProfile/.vs/ProfessionalProfile/DesignTimeBuild/.dtbcache.v2
ProfessionalProfile/.vs/ProfessionalProfile/FileContentIndex/342d194c-5dde-4ece-a957-4e15966493dc.vsidx
ProfessionalProfile/.vs/ProfessionalProfile/v17/.suo
ProfessionalProfile/.vs/ProfessionalProfile/v17/DocumentLayout.json
ProfessionalProfile/.vs/ProjectEvaluation/professionalprofile.metadata.v7.bin
ProfessionalProfile/.vs/ProjectEvaluation/professionalprofile.projects.v7.bin
ProfessionalProfile/.vs/ProfessionalProfile/DesignTimeBuild/.dtbcache.v2
ProfessionalProfile/.vs/ProfessionalProfile/v17/.suo
ProfessionalProfile/.vs/ProfessionalProfile/v17/DocumentLayout.json
ProfessionalProfile/.vs/ProjectEvaluation/professionalprofile.metadata.v7.bin
ProfessionalProfile/.vs/ProjectEvaluation/professionalprofile.projects.v7.bin
ProfessionalProfile/.vs/ProjectEvaluation/professionalprofile.projects.v7.bin
ProfessionalProfile/.vs/ProjectEvaluation/professionalprofile.metadata.v7.bin
