<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MySqlConnection"
			 connectionString="Server=professional-profile.cz6ce04s4g5f.eu-central-1.rds.amazonaws.com;
			 Database=professional_profile;
			 User Id=narcis_dictator;
			 Password=MultaMuieCostin232#;" />
	</connectionStrings>
</configuration>